APP_URL=https://motobakuacademy.az/admin
APP_FORCE_HTTPS=true
SESSION_NAME=motobaku_admin
API_ALLOWED_ORIGINS=https://motobakuacademy.az,https://www.motobakuacademy.az

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=motobaku
DB_USERNAME=motobaku_user
DB_PASSWORD=secret
